    @font-face {
        font-family: "Work Sans";
        src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf');
    }


    :root {
        --white: hsl(0, 0%, 100%);
        --lightPink: hsl(275, 100%, 97%);
        --grayishPurple: hsl(292, 16%, 49%);
        --darkPurple: hsl(292, 42%, 14%);
    }

    body {
        font-family: "Work Sans", sans-serif;
    }

    .row {
        border: 0.2px solid var(--darkPurple);
        box-shadow: 15px 17px 0px 0 var(--darkPurple);
    }

    main {
        position: relative;
        height: 100vh;
        min-width: 100%;
        background-color: var(--lightPink);
    }

    main>.row>.colMod-1 {
        width: 100%;
    }

    main>.row>.colMod-1>.img-text {
        display: flex;
        align-items: center;
    }

    main>.row>.colMod-1>.img-text>h1 {
        font-size: 2.1rem;
        padding: 10px 11px;
        font-weight: 700;
        color: var(--darkPurple);
    }

    img {
        width: 30px;
    }

    main>.row {
        background-color: var(--white);
        min-height: 500px;
        width: 320px;
    }

    .colMod-2 {
        height: 100%;
        width: 100%;
    }


    .colMod-2>.accordion>.accordion-item>.accordion-header>button>h6 {
        color: var(--darkPurple);
        font-weight: 600;
    }

    .colMod-2>.accordion>.accordion-item>.collapse>.accordion-body {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.3;
        color: var(--grayishPurple);
    }


    /* accordion  modify icon */
    .accordion-button.collapsed::after {
        background: url("../assets/images/icon-plus.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        transform: translate(1px, -4px);
    }

    .accordion-button:not(.collapsed)::after {
        background: url("../assets/images/icon-minus.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        transform: translate(1px, -4px);
    }

    .accordion-button:focus {
        outline: none !important;
        box-shadow: none !important;
        background-color: transparent !important;
    }

    /*  */